<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autofill.droiday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ChallengeSubmitActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherHomePage"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ChallengeActivity"
            android:exported="false" />
        <activity
            android:name=".PdfActivity"
            android:exported="false" />
        <activity android:name=".ResourcesActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CalenderActivity" />
        <activity android:name=".AccountSetUpActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PasswordResetActivity" />
        <activity
            android:name=".GoogleSignInActivity"
            android:exported="false" />
        <activity
            android:name=".FacebookAuthActivity"
            android:exported="false" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>